$theme-color: #0a142e;
$font-color: #ffffff;
$light-color: #c678fd;
$normal-color: #0a142e;

$purple_theme: (
    theme-bg-color: $theme-color,
    font-color: $font-color,
    font-color-second: darken($font-color, 20%),
    light-bg-color: $light-color,
    normal-bg-color: $normal-color,
    header-bg-color: lighten($theme-color, 10%),
    shawdow-color: darken($theme-color, 5%),
    border-color: lighten($theme-color, 20%),
);
